/* .glass-effect {
    background: rgba(255, 255, 255, 0.0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.0);
    border-radius: 10px;
  } */