/* permission.css */
.form-check-input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 50px;
    height: 30px;
    background-color: #ccc; /* Default color */
    border-radius: 10px;
    position: relative;
    cursor: pointer;
  }
  
  .form-check-input[type="checkbox"]:checked {
    background-color: #007bff; /* Checked color */
  }
  
  .form-check-input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.2s;
  }
  
  .form-check-input[type="checkbox"]:checked::before {
    left: 20px;
  }
  
  .swbtn{
    padding-left: 100px;
    margin-top: -10px;
  }
  
  .dgname{
    width: 1000px;
    flex-grow: 1; /* Allow this div to grow and take up remaining space */
  text-align: left;
  }

  .dgbody{
    
    justify-content: space-between;    
  }
  