
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  padding: 10px 14px;
  z-index: 100;
 
  

}

.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar .menu {
  margin-top: 40px;
  margin-left: -20px;
}









